<div id="main">
	<h1>Welcome Guest</h1>
	<script>$('#side').show("drop",1000)</script>
	<div id="adminDashboard">
		Time: <%= Time.now %><br><br>
		We have: <%= pluralize(@total_orders, "order") %>.
	</div>
</div>

