<div id="termsBoxInfo" title="Terms of Service">
	<ul>
		<li><span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0px 7px 50px 0px;"></span></li>
		<li><span style="display:inline">Prices may vary as a result of sales added or removed within the last 24hrs.</span></li>
		<br>
		<li><span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0px 7px 50px -23px;"></span></li>
		<li><span style="display:inline">Time of delivery may vary (+/-) 30min as a result of road conditions and delivery locations.</span></li>
		<br>
		<li><span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0px 7px 50px -23px;"></span></li>
		<li><span style="display:inline">Alcohol purchases require the customer provide valid ID at the time of delivery.</span></li>
		<br>
		<li><span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0px 7px 50px -23px;"></span></li>
		<li><span style="display:inline">Sales tax is not calculated into your cart total, but is printed on your paper copy receipt as provided with your items at the time of delivery.</span></li>
		<br>
		<li><span class="ui-icon ui-icon-circle-check" style="float: left; margin: 0px 7px 50px -23px;"></span></li>
		<li><span style="display:inline">If an item is out of season, or unavailable, a substitution will be requested by phone before your order is complete.</span></li>
	</ul>
</div>