<script>setCover()</script> <!--Disable the cart while order form is visible-->
<script>$('#cartCover').show()</script>
   
<h1>New order</h1>

<div class="depot_form">
 <fieldset>
   <legend>Please Enter Your Details</legend>

   <%= render 'form' %>
 </fieldset>
</div>