<div class="myFontClass" style="max-width:92%; height:100%; padding-left:30px">
	<div id="header-fixed">
	<div id="menu-style">
		<div id="header">
			<div id="logo"><img src="logo.jpg" style="width:100%; height:100%"></div>
			<a href="javascript:doHome()" style="text-decoration:none;color:#00CCFF">
				<div id="home" class="navElements" style="padding:0px 3% 0px 3%">Home</div></a>
			<a href="javascript:doHealth()" style="text-decoration:none;color:#00CCFF">
				<div id="health" class="navElements"style="padding:0px 3% 0px 3%">Your Health & Wellness</div></a>
			<a href="javascript:doTime()" style="text-decoration:none;color:#00CCFF">
				<div id="time" class="navElements"style="padding:0px 3% 0px 3%">Save Time</div></a>
			<a href="javascript:doMoney()" style="text-decoration:none;color:#00CCFF">
				<div id="money" class="navElements"style="padding:0px 3% 0px 3%">Save Money</div></a>
			<a href="javascript:doContact()" style="text-decoration:none;color:#00CCFF">
				<div id="contact" class="navElements" style="border:none;padding:0px 3% 0px 3%">Contact Us</div></a>
		</div>
	</div>
	</div>
	<div id="mainBanner"><img src="mainBanner.jpg" width="100%" height="100%"></div>
	<div style="clear:both">
		<div id="row0" class="curtail" style="width:100%; height:100%; clear:both">
			<div class="leftTxt">
				Eating healthy is a beautiful thing. Can you imagine serving mouth-watering
				healthy food more often? ReciPower will empower each health-seeking
				individual with a dynamic new tool to plan healthy meals in less than 5 minutes
				on a budget. Forget the hours of searching for tasty recipes that fit your dietary
				restrictions or your child's finicky preferences. Be ready for fast and satisfying
				recipes that fit within your budget.
			</div>
			<div id="container">
				<div id="featuredPartner" style="min-height:20px"><span style="line-height:100%; font-size:20px">Featured Partner</span></div><p>
				<div id="companyLogo" style="clear:right;"><img src="companyLogo.jpg"></div>
			</div>
		</div>
		
		<div id="row1" class="curtail" style="clear:both">
			<img src="standardPic.jpg" style="float:left">
			<div style="min-height:20px"><span  style="float:left; line-height:100%; padding-left:14px; font-size:20px">Your Health & Wellness</span></div><p>
			<div class="rightTxt">
				Eating healthy means something different for
				everyone. For those who swear by the Paleo diet, "healthy" is different from
				those who have Celiac disease or a dairy intolerance. For those with finicky
				children, just getting a vegetable into the dinner is an ambitious goal. Our tool
				will enable you to filter recipes by your specific dietary preferences.
			</div>
		</div>
		
		<div id="row2" class="curtail">
			<div id="containerText">
				<p><span style="line-height:100%; font-size:20px">Save Time</span>
				<div style="float:left">
					Time Savings Pillar: Finding healthy meals that taste good and fit your dietary
					needs requires time. Our tool takes the time out of planning healthy meals so
					that you can spend more time doing what you love: cooking, playing with your
					kids, being outside, or just relaxing.
				</div>
			</div>
			<img src="standardPic.jpg" style="float:right">	
		</div>
		
		<div id="row3" class="curtail">
			<img src="standardPic.jpg" style="float:left">
			<div style="min-height:20px"><span  style="float:left; line-height:100%; padding-left:14px; font-size:20px">Save Money</span></div><p>
			<div class="rightTxt">
				Cost Savings Pillar: Healthy food is an investment in your overall well-being.  
				However, we believe that eating healthy does not need to be a luxury. Our 
				money-saving tool will allow you to have meals planned within your specified 
				budget and to dictate items that you have in your fridge that you want included
				in the recipes.
			</div>
		</div>
		
		<div id="row4" class="curtail">
			<div id="contactUs" >
			<p><span style="line-height:0%; font-size:20px">Contact Us</span></p>
				<div>
					ReciPower is still in Beta development. If you are like us, and can't wait for delicious healthy food to browse through, then please leave your email address, and you'll be one of the first to know it's ready!
				</div>
				<script>
					$(document).ready(function(){
						$("#emailWarning").hide();
					  });
				</script>
				<% if flash[:notice] %>
					<div id="notice">
						<%= flash[:notice] %>
					</div>
				<% end %>
				<div>
					<%= render 'form' %>
				</div>
			</div>
			<div id="connectwUs">
			<p><span style="line-height:100%; font-size:20px">Connect w/Us</span>
			<div>
				Stay in the loop about all things ReciPower
			</div>
			<img src="btnSocialMedia.png" style="margin-top:14px; clear:both">
			</div>
		</div>
		
		<div id="footer" style="padding-top:14px; min-height:495px;text-align:center">Copyright 2013 ReciPower LLC.<br />
		<span style="text-decoration:none"><%= link_to 'Admin', login_path %></span>
		</div>
	</div>
</div>