<% if flash[:notice] %>
	<script>
		$('ul').after().css("height", "+=50");
		$('ul').after("<h3></h3>");
		$('h3').html("<%= flash[:notice] %>");
		$('h3').hide();
		$('h3').slideDown(600);
		
		$('h3').click(function() {
			$('h3').slideUp(200);
			$('h1').slideUp(400);
			$('ul').css("height", "-=50");
		});
	</script>
<% end %>

	<div id="header-fixed">
		<div id="header">
			<div id="logo"><img src="logoLanding1.png" width="237px" height="122px"></div>
		</div>
	</div>
	<div id="guts">
		<div id="row0">
			<div id="row0Text">TEXT BRIEFLY DESCRIBING <br />WHAT 'CARTON CANOE' DOES</div>
			<div id="callToAction" onclick="javascript:doStore()">
				<div id="callBtnText">CALL TO ACTION</div>
			</div>
		</div>
		<div id="row1">
			<div id="iconWrap">
				<img src="iconLP.png" width="84px" height="84px">
				<span>EFFICIENT PICKUP <br />& DELIVERY</span>
			</div>				
			<div id="iconWrap">
				<img src="iconLP.png" width="84px" height="84px">
				<span>BIG DATA HANDLING THOUSANDS OF ITEMS</span>
			</div>					
			<div id="iconWrap">
				<img src="iconLP.png" width="84px" height="84px">
				<span>RISK FREE, <br />NO SETUP FEES </span>
			</div>
		</div>
		
		<div id="row2">
			<img src="graph.png" width="852px" height="213px">
		</div>
		
		<div id="row3">
			<div id="rowTitle">BIG DATA MEANS EVERY STORE ITEM IS COVERED</div>
			<div id="veggies">
				<img src="iconProduce.png" width="84px" height="84px">
				<img src="iconProduce.png" width="84px" height="84px">
				<img src="iconProduce.png" width="84px" height="84px">
				<img src="iconProduce.png" width="84px" height="84px">
				<img src="iconProduce.png" width="84px" height="84px">
				<img src="iconProduce.png" width="84px" height="84px">
				<img src="iconProduce.png" width="84px" height="84px">
			</div>
		</div>
		
		<div id="row4">
			<div id="rowTitle">RISK FREE MEANS NO SETUP FEES</div>
			<div id="statement">
				WE WANT HAPPY CUSTOMERS. IF AT THE END OF YOUR TRIAL PERIOD YOU AREN'T <br /> COMPLETELY SATISFIED, YOU CAN CANCEL AT NO CHARGE
			</div>
			<div id="callToAction" onclick="javascript:doStore()">
				<div id="callBtnText">SIGN UP</div>
			</div>
		</div>
		
		<div id="row5">

		</div>
		
		<div id="footer">
			<div id="logoSmall"><img src="logoSmall.png" width="36px" height="35px"></div>		
			<div id="adminLink">
				<%= link_to label_tag('admin'), login_path %>
			</div>
		</div>
	</div>
