<ul></ul>
<% if flash[:notice] %>
	<script>
		$('ul').after().css("height", "+=50");
		$('ul').after("<h3></h3>");
		$('h3').html("<%= flash[:notice] %>");
		$('h3').hide();
		$('h3').slideDown(600);
		
		$('h3').click(function() {
			$('h3').slideUp(200);
			$('h1').slideUp(400);
			$('ul').css("height", "-=50");
		});
	</script>
<% end %>

	<div id="header-fixed" class="myFontClass">
		<div id="header">
			<a href="javascript:doHome()">
				<div id="home" class="navElements">Home</div>
			</a>
			<a href="javascript:doHealth()">
				<div id="health" class="navElements">About</div>
			</a>
			<a href="javascript:doTime()">
				<div id="time" class="navElements">Workflow</div>
			</a>
			<a href="javascript:doMoney()">
				<div id="money" class="navElements">Efficiency</div>
			</a>
			<a href="javascript:doContact()">
				<div id="contact" class="navElements">Contact Us</div>
			</a>
			<div id="adminLink" class="navElements"><%= link_to 'Admin', login_path %></div>
		</div>
	</div>
	<div id="guts" class="folksText">
		<div id="row-1" class="curtail">
			<div id="logo"><img src="logoLanding.jpg"></div>
		</div>
		<div id="row0" class="curtail">
			<span class="droidTextSm">
				Easy product delivery, for thousands of items, done your way.
			</span>
		</div>
		
		<div id="row1" class="curtail">
			<div id="row1Title">What's it Do?</div>
			<span style="clear:both">
				<div id="row1A" class="droidTextSmlr">
					<ul>
						<li><img src="checkNoticeFront.png"> Joins customers with your products online
						<li><img src="checkNoticeFront.png"> Auto-Sends the ordering department your customers' list
						<li><img src="checkNoticeFront.png"> Item details and delivery info are provided for each customer
					</ul>
				</div>
				<div id="row1B">
					<img src="row1B_graphic.jpg">
				</div>
			</span>
		</div>
		
		<div id="row2" class="curtail">
			<span class="droidTextSm">
				Open up more ways to provide products to customers, with less time on the phone
			</span>
			<img src="noPhone.png" width="178px" height="178px">
		</div>
		
		<div id="row3" class="curtail">

		</div>
		
		<div id="row4" class="curtail">
			<div id="contactUs">
				<span>Contact Us</span>
				<div id="row4Form">
					<%= render 'form' %>
				</div>
			</div>

			<div id="tryNow">
				<span>Browse Groceries</span>
			</div>
		</div>
		
		<div id="footer" style="padding-top:14px; min-height:495px;text-align:center"><br />
	</div>
</div>