/* Generic Browser Style Reset
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	background-image:  url('images/woodTanSmLighter.jpg');
	background-repeat:  repeat;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Global styles */
#side #sideLogo img{
  margin: 10px 10px 10px 0px;
  background-color:  #AAA;
  border-radius:  16px 0px 16px 0px;
  -moz-border-radius: 16px 0px 16px 0px;
  -webkit-border-radius: 16px 0px 16px 0px;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  overflow:  hidden;
}
#btnDelete{
  width:  21px;
  height:  21px;
  background:  url('graphics/circleSlashes.png');
  background-repeat:  no-repeat;
  background-position:  0px 7px;
}
#btnDelete:hover{
  width:  21px;
  height:  21px;
  background:  url('graphics/circleSlashes.png');
  background-repeat:  no-repeat;
  background-position:  -23px 7px;
}
#btnDelete:active{
  width:  21px;
  height:  21px;
  background-image:  url('graphics/circleSlashes.png');
  background-repeat:  no-repeat;
  background-position:  -46px 7px;
}
#emailWarning{
  width:  95.3%;
  color: #000;
  border: 2px solid red;
  margin: 12px 0px -10px 0px;
  padding: 12px;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}
#store #notice, #cartError {
  color: #000;
  border: 2px solid red;
  border-radius:  16px 0px 2px 0px;
  padding: 8px;
  margin-bottom: 2em;
  background-color: #F29F95;
  background-image: url('graphics/circleSlash_hover.png');
  background-position:  95% 50%;
  background-repeat: no-repeat;
  font: bold smaller sans-serif;
}
#store #cartNotice {
	color: #000;
	border: 2px solid #DAA520;
	border-radius:  16px 0px 2px 0px;
	padding: 8px;
	margin-bottom: 2em;
	background-color: #FFE4B5;
	background-image: url('graphics/triangleWarning.png');
	background-position:  95% 50%;
	background-repeat: no-repeat;
	font: bold smaller sans-serif;
}
#store h1 {
	font:  150% sans-serif;
	color: #226;
	background-image:  url('images/ui-bg_gloss-wave_100_ece8da_500x100.png');
	width:  100%;
	height:  50px;
	margin: 10px 0px 8px 0px;
	padding:  8px 0px 8px 8px;
	border-radius:  2px;
	-webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
	box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#store h2{
	color: #000;
	border: 2px solid #DAA520;
	padding: 8px;
	margin-bottom: 2em;
	background-color: #FFE4B5;
	background-image: url('graphics/triangleWarning.png');
	background-position:  95% 50%;
	background-repeat: no-repeat;
	font: bold small sans-serif;
}
#store h3{
	color: #000;
	border: 2px solid #2a932a;
	padding: 8px;
	margin-bottom: 2em;
	background-color: #c4f3c4;
	background-image: url('graphics/checkNotice.png');
	background-position:  95% 50%;
	background-repeat: no-repeat;
	font: bold small sans-serif;
}
#store h4 {
  color: #000;
  border: 2px solid red;
  border-radius:  16px 0px 2px 0px;
  padding: 8px;
  margin-bottom: 2em;
  background-color: #F29F95;
  background-image: url('graphics/circleSlash_hover.png');
  background-position:  95% 50%;
  background-repeat: no-repeat;
  font: bold smaller sans-serif;
}
#store .item_price, #store .total_line {
  text-align: right;
  padding-right:  8px;
}
/* Class within a class */
#store .total_line .total_cell {
  font-weight: bold;
  border-top: 1px solid #595;
}
#tableWrapper table{
  padding:  12px 0px 12px 0px;
  min-width: 100%;
}
#itemBoxZoomAdminPanel {
  width:  60px;
  max-width:  60px;
  height:  100%;
  min-height:  100px;
  text-align:  center;
  border-radius:  4px;
  background-color:  #555;
  -webkit-box-shadow: 1px 1px 3px #333;
  -moz-box-shadow: 1px 1px 3px #333;
  box-shadow: 1px 1px 3px #333;
  overflow:  hidden;
}
#itemBoxZoomAdminPanel #topHalf{
  min-width:  100%;
  height:  20px;
  padding-top:  4px;
  color:  #000;
  background-color:  #eeffff;
  border-radius:  4px 4px 0px 0px;
  text-align:  center;
  font-size:  .9em;
  -webkit-box-shadow: 0px 1px 2px #333;
  -moz-box-shadow: 0px 1px 2px #333;
  box-shadow: 0px 1px 2px #333;
}
/* Styles for products/index */

#product_list table {
  width:  50%;
  border-collapse: collapse;
}
#product_list table tr td {
  padding: 5px;
  vertical-align: top;
}
#product_list .list_image {
  width:        60px;
  height:       70px;
}
#product_list .list_description {
  width:    300px;
}
#product_list .list_description dl {
    margin: 0;
}
#product_list .list_description dt {
	color:        #244;
	font-weight:  bold;
	font-size:    larger;
}
#product_list .list_description dd {
    margin: 0;
}
#product_list .list_actions {
  font-size:    x-small;
  text-align:   right;
  padding-left: 1em;
}
#product_list .list_line_even {
  background:   #e0f8f8;
}
#product_list .list_line_odd {
  background:   #DDD;
}
#order_list.list_line_even  tr dt{
  padding:  0px 18px 0px 18px;
}
#order_list .list_line_even {
  background:   #f8f8f8;
}
#order_list .list_line_odd {
  background:   #DDD;
}
/* START:mainlayout */
/* Styles for main page */
#banner {
  background: #EEEEEE;
  padding-top: 0px;
  padding-left: 10px;
  padding-bottom: 60px;
  border-bottom: 2px solid;
  font: small-caps 40px/40px "Times New Roman", serif;
  color: #000066;
  text-align: center;
}
#banner img {
  float: left;
}
#columns {
  /*background: #FFF; left sidebar background*/ 
  min-width: 225px;
  min-height: 100%;
  overflow:  auto;
}
#mainContainer {
  min-width:  100%;
  overflow:  visible;
}
#main {
  max-width:  80%;
  height:  100%;
  margin-right:  0px;
  padding: 0px 4px 8px 8px;
  /*background: #FFF; main background*/ 
  overflow:  hidden;
}
#adminDashboard{
  width:  100%;
  height:  100%;
  padding:  12px;
  color:  #000;
  background-color:  #DDD;
  border-radius:  4px;
  -webkit-box-shadow: 0px 1px 2px #333;
  -moz-box-shadow: 0px 1px 2px #333;
  box-shadow: 0px 1px 2px #333;
}
#storeWrapper {
  width:  78%;
}
#side {
  float: left;
  padding: 0px 0px 12px 10px;
  margin: 10px 10px 10px 10px;
  min-width: 230px;
  min-height:  100%;
  background: #888888;
  -webkit-box-shadow: 2px 2px 8px #333;
  -moz-box-shadow: 2px 2px 8px #333;
  box-shadow: 2px 2px 8px #333;
  border-top-left-radius:  16px;
  border-bottom-right-radius:  24px;
}
#side a {
  text-decoration:  none;
  color: #555;
  font-size: small;
}
.adminClass li{
  margin:  0px 40px 0px 0px;
  padding-left:  10px;
  list-style-position:  inside;
  list-style-type:  none;
  background-color:  #EEFFFF;
  -webkit-box-shadow: 2px 2px 8px #333;
  -moz-box-shadow: 2px 2px 8px #333;
  box-shadow: 2px 2px 8px #333;
  border-radius:  16px 16px 16px 16px;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.shopper li{
  background-color:  #d3e8be;
  -webkit-transition-duration: 0.1s;
  -moz-transition-duration: 0.1s;
  transition-duration: 0.1s;
}
.adminClass li:hover{
  margin:  0px 35px 0px 5px;
  padding-left:  10px;
  list-style-position:  inside;
  list-style-type:  none;
  background-color:  #CFFFFF;
  -webkit-box-shadow: 2px 2px 8px #333;
  -moz-box-shadow: 2px 2px 8px #333;
  box-shadow: 2px 2px 8px #333;
  border-radius:  32px 4px 32px 4px;
  -webkit-transition-duration: 0.25s;
  -moz-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
.shopper li:hover{
  background-color:  #7dbc41;
}
#adminOptions{
  margin-right:  10px;
  border-top: 1px dotted #FFF;
  border-bottom: 1px dotted #FFF;
}
/* END:mainlayout */
/* An entry in the store catalog */

#store  .entry {
  position:  relative;
  z-index:  1;
  border:  1px solid #CCC;
  background-color:  #FFF;
  float:  left;
  width:  150px;
  height:  130px;
  margin: 4px 0px 4px 8px;
  border-radius:  6px;
  -webkit-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.9);
  -moz-box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.9);
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.9);
}
#store .itemMagnify{
  display:  none;
}
#store  .entry:hover .itemMagnify{
  display:  block;
  position:  absolute;
  z-index:  2;
  top:  0px;
  left:  0px;
  right:  0px;
  bottom:  0px;
  background-color:  #000;
  background-image:  url('graphics/magnifier.png');
  width:  150px;
  height:  130px;
  margin: 0px 0px 0px 0px;
  border-radius:  4px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  opacity:  0.1;
  filter:  alpha(opacity=10); /* For IE8 and earlier */
}
#store  .title {	
  padding-left:  5px;
  font-size: 120%;
  font-family: sans-serif;
}
#store .entry img {
  max-width: 90px;
  max-height: 140px;
  margin-right: auto;
  margin-left:  auto;
  margin-bottom: 5px;
  border-style: none;
  border-width:  0px;
}
#store .entry h3 {
 margin-top: 0px;
 margin-bottom: 2px;
 color: #227;
}
#store .entry p {
 margin-top: 8px; 
 margin-bottom: 0.8em; 
}
#store .entry .price_line {
 clear: both;
}
#store .entry .add_to_cart {
  position: relative;
}
#store .entry  .price {
  left:  0px;
  bottom:  0px;
  color: #44a;
  font-weight: bold;
}
#quantityLine {
  margin-top:  8px;
}
#quantity {
  position:  absolute;
  right:  24px;
  bottom:  0px;
  font-weight: bold;
}
#store .entry  form, #store .entry form div {
  display: inline;
}
#store .cart_title {
  font: 120% bold;
}
#itemBoxZoom {
  position:  relative;
  width:  100%;
  height:  100%;
}
#itemBoxZoom  table tr td{
  vertical-align:  top;
}
#itemBoxZoom  table tr td span{
  vertical-align:  top;
  padding:  0px 8px 0px 8px;
  margin:  0px 0px 0px 8px;
}
.addItem{
  position:  relative;
  float:  right;
  border: none;
  width:  14px;
  height:  15px;
  margin:  1px 1px 0px 0px;
  padding:  0px 0px 0px 0px;
  background-color:  transparent;
  background: url(graphics/tinyGrnAdd.png) 0px 0px;
  background-repeat:  no-repeat;
  z-index: 3;
}
.addItem:hover{
  background: url(graphics/tinyGrnAdd.png) -14px 0px;
  z-index: 3;
}
.addItem:active{
  background: url(graphics/tinyGrnAdd.png) -28px 0px;
  z-index: 3;
}
#cartCover{
  display:  none;
  position:  absolute;
  /*margin: 10px 10px 0px 0px;
  padding: 10px 10px 5px 10px;*/
  border-top-left-radius:  16px;
  border-bottom-right-radius:  24px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  background-image:  url('images/ui-bg_diagonals-thick_15_2b2922_40x40.png');
  overflow:  visible;
  opacity:  0.25;
  z-index:  200;
}
#cart{
  background-color:  #EEEEEE;
  margin: 10px 10px 0px 0px;
  padding: 10px 10px 5px 10px;
  -webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
  border-top-left-radius:  16px;
  border-bottom-right-radius:  24px;
  overflow:  auto;
}
#cart.active{
  background-color:  #D3E8BE;
  margin: 9px 11px 1px -1px;
  padding: 10px 10px 5px 10px;
  -webkit-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
  border-top-left-radius:  16px;
  border-bottom-right-radius:  24px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  transition-duration: 0.2s;
}
#cart.hovered{
  background-color:  #7DBC41;
  margin: 8px 12px 2px -2px;
  padding: 10px 10px 5px 10px;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.7);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
  border-top-left-radius:  16px;
  border-bottom-right-radius:  24px;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  transition-duration: 0.15s;
}
#cart_title{
  padding: 10px 0px 0px 0px;
}
#cart form{
  float:  left;
}
#cart table{
  font-size: smaller;
  color: #333;
  margin: 0px 0px 0px 0px;
  border-top: 1px dotted #FF2200;
  border-bottom: 1px dotted #FF2200;
  margin-bottom: 10px;
  margin-right: 10px;
}
#side table tbody td{
  padding-bottom: 4px;
}
#side table tbody #total_line{
  border-top: 1px solid black;
}
#side table tbody #total_line td{
  padding-top: 4px;
}
#showOrderDetails{
  margin:  8px 0px 8px 0px;
  padding:  8px 0px 8px 8px;
  line-height:  120%;
  background-color:  #EEE;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#cartContents{
  margin:  8px 0px 8px 0px;
  padding:  4px 0px 8px 8px;
  line-height:  120%;
  background-color:  #EEE;
  -webkit-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
}
#cartContents #showOrderDetails,  legend{
  margin-left:  0px;
  padding:  0px 8px 0px 4px;
  border-radius:  12px 12px 12px 12px;
  color: #EEE;
  background: #555;
  font-family: sans-serif;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}
#cartContents .list_line_even{
  margin:  8px 0px 8px 0px;
  line-height:  120%;
  background-color:  #FFF;
}
#cartContents .list_line_odd td{
  padding:  0px 0px 0px 8px;
  line-height:  120%;
}
#cartContents .list_line_even td{
  padding:  0px 0px 0px 8px;
  line-height:  120%;
}
#cartContents .list_line_odd form{
  background-color:  #99cc66;
}
#cartContents .list_line_even form{
  background-color:  #b7db94;
}
#cartContents table th{
  padding-left:  8px;
}
#cartContents table img{
  text-decoration:  none;
  width:  16px;
  height:  16px;
  background:  url('graphics/tinyCart.png') 0px 0px;
  background-repeat:  no-repeat;
}
#order_list tr.list_line_odd td{
  padding:  0px 0px 0px 8px;
  line-height:  150%;
}
#order_list tr.list_line_even td{
  padding:  0px 0px 0px 8px;
  line-height:  150%;
}
[data-text="show"] a{
  text-decoration:  none;
  border:  1px solid #DDD;
  background-color:  #EEE;
  padding: 0px 8px 0px 8px;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius:  10px;
}
[data-text="show"] a:hover{
  text-decoration:  none;
  border:  1px solid #888;
  padding: 0px 8px 0px 8px;
  -webkit-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 2px 2px 1px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
  border-radius:  10px;
  background-color:  #7dbc41;
  -webkit-transition-duration: 0.15s;
  -moz-transition-duration: 0.15s;
  transition-duration: 0.15s;
}