@font-face{ 
	font-family: 'DroidSerif';
	src: url('fonts/DroidSerif.eot');
	src: url('fonts/DroidSerif.eot?iefix') format('eot'),
	     url('fonts/DroidSerif.woff') format('woff'),
	     url('fonts/DroidSerif.ttf') format('truetype'),
	     url('fonts/DroidSerif.svg#DroidSerif') format('svg');
}
@font-face{ 
	font-family: 'Folks-Normal-webfont';
	src: url('fonts/Folks-Normal-webfont.eot');
	src: url('fonts/Folks-Normal-webfont.eot?iefix') format('eot'),
	     url('fonts/Folks-Normal-webfont.woff') format('woff'),
	     url('fonts/Folks-Normal-webfont.ttf') format('truetype'),
	     url('fonts/Folks-Normal-webfont.svg#Folks-Normal-webfont') format('svg');
}
/*@font-face {
	font-family: Caviar_Dreams_Bold;
	src: url('Caviar_Dreams_Bold.ttf');
}
@font-face {
	font-family: Caviar_Dreams_Bold;
	src: url('http://www.recipower.com/public_html/Caviar_Dreams_Bold.ttf');
}*/
.myFontClass{
	font-size:  100%;
	color: #000;
	width:  95%; 
	height:  100%; 
	padding-left:  30px
}
.floatLT{float:left; padding-top:30px;}
.floatRT{float:right;}
.underline{
	border-bottom-style:  solid;
	border-bottom-width:  2px;
	border-bottom-color:  #000;
}
.folksText{
	font-family: 'Folks-Normal-webfont';
	font-size:  3em;
}
.droidTextSm{
	font-family: 'DroidSerif';
	font-size:  1em;
	line-height:  120%;
}
.droidTextSmlr{
	font-family: 'DroidSerif';
	font-size:  .7em;
	line-height:  120%;
}
.leftTxt{
	font-family: 'DroidSerif';
	font-size:  1.3em;
	line-height:  150%;
	float:  left;
	max-width: 100%;
}
.rightTxt{
	font-family: 'DroidSerif';
	font-size:  1.3em;
	line-height:  150%;
	float:  left;
	max-width:  66%;
	padding-left: 14px;
}
.curtail{
	max-width:  100%;
	height:  100%;
	margin-top:  8px;
	padding:  30px 30px 30px 30px;
	overflow:  auto;
}
.landingImage{
	margin: 8px;
	padding:  0px;
	border: solid 1px #555;
	border-radius:  6px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
}
#header-fixed{
	position:  fixed;
	margin:  0px;
	padding:  0px;
	top:  0px;
	left:  4.5%;
	width:  100%;
	height:  30px;
}
#header{
	height:  30px;
	width:  100%;
	background-color:  #FFF;
	opacity:.8;
	overflow:  auto;
}
.navElements{
	float:  left;
	margin-left:  4px;
	padding:  4px 8px 4px 8px;
	text-decoration:  none;
	max-width:  inherit;
	color:  #444444;
	-moz-transition: background-color 0.3s ease-in;
    -webkit-transition: background-color 0.3s ease-in;
    transition: background-color 0.3s ease-in;
	border-radius:  16px;
}
#home:hover,#health:hover,#time:hover,#money:hover,#contact:hover,#adminLink:hover{
	background-color:  #888;
	color:  #EEE;
	-moz-transition: background-color 0.08s ease-in;
	-webkit-transition: background-color 0.08s ease-in;
	transition: background-color 0.08s ease-in;
}
#guts{
  margin:  20px 0px 0px 5%;
  max-width:  100%;
}
#row-1{
  clear:both;
  max-width:  100%;
  background-color:  #DDD;
  border-radius:  12px 12px 12px 12px;
  border:  1px solid #DDD;  
  background: rgb(235,241,246); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ViZjFmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzhjYTRlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzRlODllOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNkNmUwZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(235,241,246,1) 0%, rgba(140,164,234,1) 50%, rgba(78,137,232,1) 51%, rgba(214,224,252,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(235,241,246,1)), color-stop(50%,rgba(140,164,234,1)), color-stop(51%,rgba(78,137,232,1)), color-stop(100%,rgba(214,224,252,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(140,164,234,1) 50%,rgba(78,137,232,1) 51%,rgba(214,224,252,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(140,164,234,1) 50%,rgba(78,137,232,1) 51%,rgba(214,224,252,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(235,241,246,1) 0%,rgba(140,164,234,1) 50%,rgba(78,137,232,1) 51%,rgba(214,224,252,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(235,241,246,1) 0%,rgba(140,164,234,1) 50%,rgba(78,137,232,1) 51%,rgba(214,224,252,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ebf1f6', endColorstr='#d6e0fc',GradientType=0 ); /* IE6-8 */
}
#logo{
	clear:  both;
	margin-left:  auto;
	margin-right:  auto;
	width:  158px;
	height:  150px;
	-webkit-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.8);
	-moz-box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.8);
	box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.8);
	border-radius:  8px 8px 8px 8px;
	overflow:  hidden;
	opacity:.95;
}
#row0{
  clear:both;
  height:  200px;
  text-align:  center;
  text-shadow: 2px 2px 1px #EEE;
  background-color:  #DDD;
  border-radius:  12px 12px 12px 12px;
}
#row0 span{
  position:  relative;
  top:  50px;
}
#row1{ 
  clear:  both;
  background-color:  #888;
  border-radius:  12px 12px 12px 12px;
}
#row1Title{
  width:  95%;
  color:  #EEE;
  padding-bottom:  16px;
  border-bottom:  1px solid #AAA;
  text-align:  center;
  text-shadow: 2px 2px 1px #333;
}
#row1A{
  float:  left;
  padding-top:  16px;
  width:  40%;
  text-align:  left;
  margin-right:  5%;
}
#row1A ul li{
  border-radius:  8px;
  background-color:  #DDD;
  margin: 5px 0px 5px 0px;
  padding: 10px 10px 10px 10px;
  -webkit-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}
#row1A span{
  width:  16px;
  max-height:  8px;
  border-radius:  16px;
  background-color:  #EEE;
  -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}
#row1B{
  position:  relative;
  float:  right;
  width:  40%;
  height:  90%;
  margin: 5% 5% 5% 0px;
  border-radius:  16px;
  overflow:  visible;
}
#row1B img{
  width:  100%;
  height:  auto;
  border-radius:  16px;
}
#row2{
  clear:  both;
  height:  200px;
  background-color:  #d6e0ed;
  border-radius:  12px 12px 12px 12px;
}
#row2 span{
  float:  left;
  max-width:  80%;
  text-align:  left;
  text-shadow: 1px 1px 1px #FFF;
}
#row2 img{
  float:  right;
}
#row3{
  clear:  both;
  background-color:  #DDD;
  border-radius:  12px 12px 12px 12px;
}
#row4{
  clear:  both;
  background-color:  #DDD;
  border-radius:  12px 12px 12px 12px;
}
#row4 table{
  max-width:  100%;
}
#contactUs{
	float:  left; 
	min-width:  100%;
	text-align:  center;
	vertical-align:  middle;
}
#row4Form{
	margin-top:  -40px;
}
#tryNow{
	margin:  8px 0px 8px 8px;
	padding:  8px 8px 8px 8px;
	min-width:  100%;
	min-height:  100%;
	float:  left;
	color:  #FFF;
	text-shadow: 1px 1px 1px #333;
	border:  1px solid #BBB;
	border-radius:  16px;
	background: rgb(180,227,145); /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I0ZTM5MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjUwJSIgc3RvcC1jb2xvcj0iIzYxYzQxOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiNGUzOTEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top, rgba(180,227,145,1) 0%, rgba(97,196,25,1) 50%, rgba(180,227,145,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(180,227,145,1)), color-stop(50%,rgba(97,196,25,1)), color-stop(100%,rgba(180,227,145,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* IE10+ */
background: linear-gradient(to bottom, rgba(180,227,145,1) 0%,rgba(97,196,25,1) 50%,rgba(180,227,145,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b4e391', endColorstr='#b4e391',GradientType=0 ); /* IE6-8 */
}
#featuredPartner{ 
	clear:  right;
	max-width:  100%;
	line-height:  0%;	
}
#containerText{
	float:  left;
	width:  65%;
}
#email.field input{
	width:  99%;
	height: 41px;
	margin-top:  16px;
	border: 1px solid #999;
	text-align:  center;
	font-size:  30px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#submit.actions input {
	width:  99.3%;
	height:  41px;
	margin-top:  16px;
	border:  2px solid #000;
	clear:  both;
	background-color:  #3090FE;
	background-position:  center;
	background-image:  url('btnSubmit.png');	
	background-repeat:  no-repeat;
	color:  #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#submit.actions input:hover {
	background-image:  url('btnSubmit_hover.png');
	background-position:  center;
	color:  #FFF;
	-webkit-transition: background-image 0.2s;
	transition: background-image 0.3s;
}
#submit.actions input:active {
	background-image:  url('btnSubmit_hover.png');
	color:  #FFF;
	-webkit-box-shadow: inset 2px 2px 12px #000000;
	-moz-box-shadow: 	inset 2px 2px 12px #000000;
	box-shadow: 		inset 2px 2px 12px #000000;
}