@font-face{ 
	font-family: 'DroidSerif';
	src: url('fonts/DroidSerif.eot');
	src: url('fonts/DroidSerif.eot?iefix') format('eot'),
	     url('fonts/DroidSerif.woff') format('woff'),
	     url('fonts/DroidSerif.ttf') format('truetype'),
	     url('fonts/DroidSerif.svg#DroidSerif') format('svg');
}
@font-face{ 
	font-family: 'Folks-Normal-webfont';
	src: url('fonts/Folks-Normal-webfont.eot');
	src: url('fonts/Folks-Normal-webfont.eot?iefix') format('eot'),
	     url('fonts/Folks-Normal-webfont.woff') format('woff'),
	     url('fonts/Folks-Normal-webfont.ttf') format('truetype'),
	     url('fonts/Folks-Normal-webfont.svg#Folks-Normal-webfont') format('svg');
}
/*@font-face {
	font-family: Caviar_Dreams_Bold;
	src: url('Caviar_Dreams_Bold.ttf');
}
@font-face {
	font-family: Caviar_Dreams_Bold;
	src: url('http://www.recipower.com/public_html/Caviar_Dreams_Bold.ttf');
}*/
.myFontClass{
	font-family: Caviar_Dreams_Bold, Arial;
	font-size:  100%;
	color: #000;
}
.navElements{
	float:  left;
	max-width:  inherit;
	margin-top:  32px;
	vertical-align:  middle;
	color:  #444444;
	border-right-style:  solid;
	border-right-width:  2px;
	border-right-color:  #000;
}
.floatLT{float:left; padding-top:30px;}
.floatRT{float:right;}
.underline{
	border-bottom-style:  solid;
	border-bottom-width:  2px;
	border-bottom-color:  #000;
}
.folksText{
	font-family: 'Folks-Normal-webfont';
	font-size:  3em;
}
.droidTextSm{
	font-family: 'DroidSerif';
	font-size:  1.3em;
	line-height:  150%;
}
.leftTxt{
	font-family: 'DroidSerif';
	font-size:  1.3em;
	line-height:  150%;
	float:  left;
	max-width: 100%;
}
.rightTxt{
	font-family: 'DroidSerif';
	font-size:  1.3em;
	line-height:  150%;
	float:  left;
	max-width:  66%;
	padding-left: 14px;
}
.curtail{
	max-width:  100%;
	max-height:  100%;
	padding-top:  30px;
	padding-bottom:  30px;
	border-bottom-style:  solid;
	border-bottom-width:  2px;
	border-bottom-color:  #000;
	overflow:  auto;
}
.landingImage{
	margin: 8px;
	padding:  0px;
	border: solid 1px #555;
	border-radius:  6px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.9);
}
#header-fixed{
	position:  fixed;
	top:  0px;
	margin-top:  0px;
	width:  92%;
	background-image:  url('graphics/menuFadeBG.png');
	background-repeat:  repeat-x;
}
#menu-style{
	height:  85px;
}
#header{
	min-height:  85px;
	float:  left; 
	min-width:  100%;
	overflow:  auto;
}
#logo{
	float:left;
	width:  210px;
	height:  78px;
	border-style:  solid;
	border-color:  #000;
	border-width:  1px;
	opacity:.95;
}
#home, #health, #time, #money, #contact{
	-moz-transition: background-color .3s ease-in;
    -webkit-transition: background-color .3s ease-in;
    transition: background-color .3s ease-in;
}
#home:hover,#health:hover,#time:hover,#money:hover,#contact:hover{
	background-color:  #EEE;
	-webkit-transition: background-color 0.01s;
	transition: background-color 0.01s;

}
#mainBanner{
	clear:  both;
	margin:  75px 0px 50px 0px;
	padding:  293px 0px 105px 0px;
	background-image:  url('mainBanner1.jpg');
	background-size: cover;
	background-position:  center;
	background-repeat:  no-repeat;
}
#container{
	float:  right;
	padding-left:  14px;
	max-width:  100%;
	overflow:  auto;
}
#featuredPartner{ 
	clear:  right;
	max-width:  100%;
	line-height:  0%;	
}
#containerText{
	float:  left;
	width:  65%;
}
#contactUs{
	float:  left; 
	max-width:  65%;
}
#connectwUs{
	margin-left:  30px;
	padding-left:  25px;
	max-width:  26%;
	height:  200px;
	float:  left;
	border-left-style:  solid;
	border-left-width:  2px;
	border-left-color:  #000;
}
#email.field input{
	width:  99%;
	height: 41px;
	margin-top:  16px;
	border: 1px solid #999;
	text-align:  center;
	font-size:  30px;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#submit.actions input {
	width:  99.3%;
	height:  41px;
	margin-top:  16px;
	border:  2px solid #000;
	clear:  both;
	background-color:  #3090FE;
	background-position:  center;
	background-image:  url('btnSubmit.png');	
	background-repeat:  no-repeat;
	color:  #FFF;
	font-family: Tahoma, Geneva, sans-serif;
	-webkit-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
}
#submit.actions input:hover {
	background-image:  url('btnSubmit_hover.png');
	background-position:  center;
	color:  #FFF;
	-webkit-transition: background-image 0.2s;
	transition: background-image 0.3s;
}
#submit.actions input:active {
	background-image:  url('btnSubmit_hover.png');
	color:  #FFF;
	-webkit-box-shadow: inset 2px 2px 12px #000000;
	-moz-box-shadow: 	inset 2px 2px 12px #000000;
	box-shadow: 		inset 2px 2px 12px #000000;
}
#adminLink a{
	color:  #DFDFDF;
}
#adminLink a:hover{
	color:  #000;
}

