<% if line_item == @current_item %>
<tr id="current_item"></tr>
<% else %>
<tr id="prev_item">
<% end %>
  <td><%= line_item.quantity %>&times;</td>
  <td><%= line_item.product.title %></td>
  <td class="item_price"><%= number_to_currency(line_item.total_price) %></td>
  <td id="btnDelete"><%= link_to image_tag('graphics/circleClear.png'), decrement_line_item_path(line_item), :method => :post, :remote => true %></td>
</tr>